.navbar-default {
    background-image: linear-gradient(to bottom, #F5F5F5 0px, #C0C0C0 100%);
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 20px;
    line-height: 30px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #E64848;
}

.navbar-brand {
    min-height: 60px;
    padding: 10px;
    padding-left: 15px;
}

.row {
    margin-top: 15px;
}

p.rubric {
    margin-top: 10px;
    font-size: 18px;
}

body {
    font-size: 16px;
}

img {
    max-height: 100%;
}
